/*!
 * VueStudio v1.0.0 (https://seantheme.com/vue-studio/)
 * Copyright 2020 SeanTheme
 */
@import "./clock/css/loader.css";
@import "_variables.scss";
/*@import "~bootswatch/dist/cosmo/bootstrap.min.css";*/
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "~alertifyjs/build/css/alertify.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/*@import "./clock/css/plugins.css";*//*@import "./clock/css/plugins.css";*/
@import "./clock/css/components/timeline/custom-timeline.css";

@import "_functions.scss";
@import "_mixins.scss";
@import "_helper.scss";
@import "_reboot.scss";

@import "_app.scss";
@import "_ui.scss";
@import "_plugins.scss";
@import "_pages.scss";
@import "_widgets.scss";


.form-group > label {
    font-weight: bold;
    font-size: 0.83em;
    margin-bottom: 0 !important;
    text-transform: capitalize;
    font-family: $font-family-monospace;
    margin-left: 10px;
}

.history-card-title {
    font-weight: bold;
    font-size: 0.83em;
    margin-bottom: 0 !important;
    text-transform: capitalize;
    font-family: $font-family-monospace;
    margin-left: 10px;
}

.history-card {
    padding: 10px;
    font-size: 0.88em;
    height: 110px;
    overflow-y: auto
}


.history-row-border{
    margin-top: 20px;
    border-left: 0.110em solid;
    border-bottom: 0.110em solid;
    border-radius: 20px;
}

.custom-row-border-left{
    margin-top: 20px;
    border-left: 0.105em solid;
    border-bottom: 0.105em solid;
    border-radius: 20px;
}
.custom-row-border-right{
    margin-top: 20px;
    border-right: 0.105em solid;
    border-bottom: 0.105em solid;
    border-radius: 20px;
}

.app-sidebar {
    background: white !important;
}


.money {
    font-variant-numeric: lining-nums;
}

.datepiker {
    background-color: white !important;
}

.vdp-datepicker {
    background: white !important;
}

.v-select {
    padding-top: 2px;
    font-size: $font-size-base !important;
}

.vs__selected-options {
    font-size: $font-size-base !important;
}

.v-select > div {
    margin-top: 0;
    padding-top: 0;
    font-size: $font-size-base !important;
    border: none !important;
}

input, select > :enabled {
    /*font-size: 1.01rem !important;*/
    background: white;
}

input:disabled, input:read-only, select:read-only, .vs--disabled, .v-select.disabled, textarea:disabled, textarea:read-only {
    background-color: #f5f5f5 !important;
}

.text-white-border-black {
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px !important;
}


.s-alert-box {
    z-index: 999999999999999999 !important;
}
.alertify-logs , .alertify-notifier , .ajs-message, .ajs-visible{
    z-index:999999999999999999 !important;
}
 div > .lazy-list-item{
     width: 100% !important;
     height: 100% !important;
 }
.vm--modal{
    border: #0b2e13 2em;
    border-radius: 20px !important;
}
.vm--modal > .row > .col-md-12 > .card > .card-header{
    background-color: $gray-300;
    font-weight: bold;
}
